<?xml version="1.0"?>
<config>
	<modules>
		<Ccc_Salesman>
			<version>0.0.2</version>
		</Ccc_Salesman>
	</modules>
	<admin>
		<routers>
			<salesman>
				<use>admin</use>
				<args>
					<module>Ccc_Salesman</module>
					<frontName>salesman</frontName>
				</args>
			</salesman>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<ccc_salesman>
				<title>Salesman</title>
				<sort_order>101</sort_order>
				<children>
					<salesman>
						<title>Manage Salesman</title>
						<sort_order>0</sort_order>
						<action>salesman/adminhtml_salesman</action>
					</salesman>
				</children>
			</ccc_salesman>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<ccc_salesman>
							<title>Manage Salesman</title>
							<sort_order>0</sort_order>
						</ccc_salesman>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ccc_salesman>
					<file>salesman.xml</file>
				</ccc_salesman>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<blocks>
			<ccc_salesman>
				<class>Ccc_Salesman_Block</class>
			</ccc_salesman>
		</blocks>
		<models>
			<ccc_salesman>
				<class>Ccc_Salesman_Model</class>
				<resourceModel>ccc_salesman_resource</resourceModel>
			</ccc_salesman>
			<ccc_salesman_resource>
				<class>Ccc_Salesman_Model_Resource</class>
				<entities>
					<salesman>
						<table>ccc_salesman</table>
					</salesman>
				</entities>
			</ccc_salesman_resource>
		</models>
		<resources>
			<salesman_setup>
				<setup>
					<module>Ccc_Salesman</module>
				</setup>
			</salesman_setup>
		</resources>
	</global>
</config>