<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Module1>
			<version>0.0.2</version>
		</Mage_Module1>
	</modules>
	<admin>
		<routers>
			<module1>
				<use>admin</use>
				<args>
					<module>Mage_Module1</module>
					<frontName>module1</frontName>
				</args>
			</module1>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<mage_module1>
				<title>Module1</title>
				<sort_order>111</sort_order>
				<children>
					<module>
						<title>Manage Module</title>
						<sort_order>0</sort_order>
						<action>module1/adminhtml_module1</action>
					</module>
				</children>
			</mage_module1>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<mage_module1>
							<title>Manage Module</title>
							<sort_order>0</sort_order>
						</mage_module1>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mage_module1>
					<file>module1.xml</file>
				</mage_module1>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<blocks>
			<mage_module1>
				<class>Mage_Module1_Block</class>
			</mage_module1>
		</blocks>
		<models>
			<mage_module1>
				<class>Mage_Module1_Model</class>
				<resourceModel>mage_module1_resource</resourceModel>
			</mage_module1>
			<mage_module1_resource>
				<class>Mage_Module1_Model_Resource</class>
				<entities>
					<module1>
						<table>mage_module1</table>
					</module1>
				</entities>
			</mage_module1_resource>
		</models>
		<resources>
			<module1_setup>
				<setup>
					<module>Mage_Module1</module>
				</setup>
			</module1_setup>
		</resources>
	</global>
</config>