<?xml version="1.0" ?>
<config>
	<modules>
		<Ccc_Salesman>
			<version>0.0.4</version>
		</Ccc_Salesman>
	</modules>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ccc_salesman>Ccc_Salesman_Adminhtml</ccc_salesman>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<salesman>
					<file>salesman.xml</file>
				</salesman>
			</updates>
		</layout>
	</adminhtml>

	<global>
		<blocks>
			<salesman>
				<class>Ccc_Salesman_Block</class>
			</salesman>
		</blocks>

		<models>
			<salesman>
				<class>Ccc_Salesman_Model</class>
				<resourceModel>salesman_resource</resourceModel>
			</salesman>
			<salesman_resource>
				<class>Ccc_Salesman_Model_Resource</class>
				<entities>
					<salesman>
						<table>salesman</table>
					</salesman>
					<salesman_decimal>
						<table>salesman_decimal</table>
					</salesman_decimal>
					<salesman_datetime>
						<table>salesman_datetime</table>
					</salesman_datetime>
					<salesman_text>
						<table>salesman_text</table>
					</salesman_text>
					<salesman_varchar>
						<table>salesman_varchar</table>
					</salesman_varchar>
					<salesman_char>
						<table>salesman_char</table>
					</salesman_char>
					<salesman_int>
						<table>salesman_int</table>
					</salesman_int>
					<eav_attribute>
						<table>salesman_eav_attribute</table>
					</eav_attribute>>
				</entities>
			</salesman_resource>
		</models>

		<helpers>
			<salesman>
				<class>Ccc_Salesman_Helper</class>
			</salesman>
		</helpers>

		<resources>
			<salesman_setup>
				<setup>
					<module>Ccc_Salesman</module>
					<class>Ccc_Salesman_Model_Resource_Setup</class>
				</setup>
			</salesman_setup>
		</resources>
		
	</global>
</config>